@charset "UTF-8";
@font-face {
    font-family: "assistente";
    src: url("fontes/Assistant/Assistant-VariableFont_wght.ttf") format("truetype");
}
*{
    margin: 0px;
    padding: 0px;
    font-family: "assistente";
}
header{
    background-image: linear-gradient(to top, rgb(178, 117, 232), rgb(240, 122, 181));
    height: 650px;
    font-weight: bolder;
    color: white;
    text-align: center;
}
h1{
    font-size: 2.2em;
    padding-top: 270px;
    padding-bottom: 5px;
}
p{
    display: inline-block;
    font-weight: 400;
}
#principal{
    display: block;
}
main{
    background-color: white;
}
h2{
    font-size: 1.5em;
    text-align: center;
    font-weight: 400;
    color: rgb(219, 39, 119);
    margin-top: 25px;
}
.imagem{
    display: inline-block;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.529);
    height: 150px;
    max-height: 150px;
    min-height: 100px;
    max-width: 220px;
    min-width: 180px;
    margin: 20px;
    margin-bottom: 10px;
    margin-right: 0px;
    text-align: center;
}
h3{
    display: inline-block;
}
.textos{
    display: inline-block;
    margin: 15px;
}